<ion-header>
    <ion-toolbar>
        <ion-title>Product Den - Edit User</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <div style="margin:5px; text-align: right">
        <ion-icon name="contact" style="width:45px; height:30px;"></ion-icon>
        Logged in User: {{ selectedUser.username }}
    </div>

    <form #f="ngForm" style="margin:28px;">
        <ion-item>
            <ion-icon name="person"></ion-icon>
            <ion-input type="text" placeholder="Name" [(ngModel)]="selectedUser.name" name="name" id="name" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon name="mail"></ion-icon>
            <ion-input type="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z0-9.-_]{2,}[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,}" placeholder="Username" [(ngModel)]="selectedUser.username" name="username" id="username" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon name="lock"></ion-icon>
            <ion-input type="text" placeholder="Password" [(ngModel)]="selectedUser.password" name="password" id="password" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon name="people"></ion-icon>
            <ion-input type="text" placeholder="Role" [(ngModel)]="selectedUser.role" name="role" id="role" required></ion-input>
        </ion-item>

        <br>

        <ion-button shape="round" color="success" expand="block" [disabled]="!f.valid" (click)="Save()">Save User</ion-button>
        <br>
        <ion-button shape="round" color="danger" expand="block" [disabled]="!f.valid" (click)="Remove()">Delete User</ion-button>
        <br>
        <ion-button type="button" shape="round" color="warning" expand="block" (click)="onClose()">Cancel</ion-button>

    </form>
</ion-content>