<ion-header>
    <ion-toolbar>
        <ion-title>Product Den - Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <img src="../../assets/modern-outlet-composition-with-flat-design_23-2147955616.jpg" alt="" height="200" width="500">

    <form #f="ngForm" style="margin:32px;">
        <ion-item>
            <ion-icon name="contact"></ion-icon>
            <ion-input type="text" placeholder="Username" [(ngModel)]="users.username" name="username" id="username" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon name="lock"></ion-icon>
            <ion-input type="password" placeholder="Password" [(ngModel)]="users.password" name="password" id="password" required></ion-input>
        </ion-item>
        <br>
        <ion-button type="button" shape="round" color="success" expand="block" [disabled]="!f.valid" (click)="Login()">Login</ion-button>
    </form>

</ion-content>